.profile__subheading {
  color: #fff;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  max-width: 350px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: 'subtitle';
}

@media screen and (max-width: 940px) {
  .profile__subheading {
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 36px;
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .profile__subheading {
    max-width: 250px;
  }
}
