@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/text-smoothing/text-smoothing.css);
@import url(./blocks/main/main.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__heading/profile__heading.css);
@import url(./blocks/profile/__subheading/profile__subheading.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__info-container/profile__info-container.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/button/button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/list/list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__button-trash/element__button-trash.css);
@import url(./blocks/element/__footer/element__footer.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__button-like/_active/element__button-like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input-text/popup__input-text.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title-image/popup__title-image.css);
@import url(./blocks/button/_inactive/button_inactive.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input-text/_invalid/popup__input-text_invalid.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__container/_type/popup__container_type_confirm.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);
@import url(./blocks/element/__counter/element__counter.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__button-trash/_hidden/element__button-trash_hidden.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-icon/profile__avatar-icon.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/popup/__container/_type/popup__container_type_avatar.css);
@import url(./blocks/welcome/welcome.css);
@import url(./blocks/welcome/__title/welcome__title.css);
@import url(./blocks/welcome/__input/welcome__input.css);
@import url(./blocks/welcome/__container/welcome__container.css);
@import url(./blocks/welcome/__button-submit/welcome__button-submit.css);
@import url(./blocks/welcome/__link-to-signin/welcome__link-to-signin.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/popup/__container-union/popup__container-union.css);
@import url(./blocks/popup/__union-img/popup__union-img.css);
@import url(./blocks/popup/__union-text/popup__union-text.css);
@import url(./blocks/header/__login/header__login.css);
@import url(./blocks/header/__userinfo/header__userinfo.css);
@import url(./blocks/spinner/spinner.css);
@import url(./blocks/spinner/__wrapper/spinner__wrapper.css);
@import url(./blocks/header/__button/header__button.css);